<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dt.learning">

    <permission
        android:name="com.dt.learning.permission.ACCESS_AIDL_SERVICE"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.dt.learning.permission.ACCESS_AIDL_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.AIDLService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.dt.learning.permission.ACCESS_AIDL_SERVICE"
            android:process=":remote" />

        <activity
            android:name=".activities.ImageHandleActivity"
            android:label="@string/title_activity_image_handle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.IPCActivity"
            android:label="@string/title_activity_ipc"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".activities.NetworkActivity"
            android:label="@string/title_activity_network"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.TCPService"
            android:process=":remote"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.SocketActivity"
            android:label="@string/title_activity_socket"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>